<div class="container">
  <div id="admin-wrapper">
    <nav id="admin-nav">
      <ul>
        <li><a routerLink="/admin/notifications" routerLinkActive="active" i18n="@@admin.notifications">Notifications</a></li>
        <li><a i18n="@@admin.settings">Settings</a></li>
        <li><a i18n="@@admin.users">Users</a></li>
        <li><a routerLink="/admin/character-template" routerLinkActive="active" i18n="@@admin.charactertemplates">Character Templates</a></li>
        <li><a i18n="@@admin.factions">Factions</a></li>
        <li><a i18n="@@admin.episodetemplate">Episode Template</a></li>
      </ul>
    </nav>
    <main id="admin-content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
