.filter-sidebar {
  flex-shrink: 0;
  min-width: 0;
  width: 0;
  padding: 0;
  overflow: hidden;
  transition: width 0.3s ease, padding 0.3s ease;
}

.filter-sidebar.open {
  width: 250px;
  padding: 15px;
}
