<div id="post-form" class="formal">
  <form id="post" class="container" method="post" action="">
    <fieldset>
      <legend><span i18n="@@charactercreate.createCharacter">Create Character</span></legend>
      <div class="fs-box hashelp">

        <p class="inputfield required">
          <label for="char_name"><ng-container i18n="@@charactercreate.name">Name</ng-container> <em><ng-container i18n="@@topiccreate.required">(Required)</ng-container></em></label><br />
          <span class="input"><input id="char_name" type="text" name="req_name" value="" size="80" maxlength="70" /></span>
        </p>

        <p class="inputfield required">
          <label for="char_avatar"><ng-container i18n="@@charactercreate.avatar">Avatar URL</ng-container></label><br />
          <span class="input"><input id="char_avatar" type="text" name="req_avatar" value="" size="80" maxlength="255" /></span>
        </p>

      </div>
    </fieldset>
    <fieldset>
      @for (field of characterTemplate(); track field.order) {
        <div class="fs-box hashelp">
          <p class="inputfield required">
            <label for="{{field.machine_field_name}}"><ng-container>{{field.human_field_name}}</ng-container></label>
            <span class="input"><input id="{{field.machine_field_name}}" type="{{field.field_type}}"></span>
          </p>
        </div>
      }
    </fieldset>
    <p class="formsubmit"><input type="submit" class="button submit" name="submit" value="Create" i18n-value="@@charactercreate.create" accesskey="s" /></p>
  </form>
</div>
