<div class="container">
    <ul>
      <li id="navindex" class="isactive"><a href="/"><span>Форум</span></a></li>
      <li id="navuserlist"><a href="/userlist.php"><span>Участники</span></a></li>
      <li id="navrules"><a href="/rules.php"><span>Правила</span></a></li>
      <li id="navsearch"><a href="/search.php"><span>Поиск</span></a></li>
      <li id="navregister"><a href="/register.php"><span>Регистрация</span></a></li>
      <li id="navlogin"><a href="/login.php"><span>Войти</span></a></li>
    </ul>
</div>

