<div id="pun-title" class="section">
  <div class="container">
    <div class="title-site">
      <h1>{{ title() }}</h1>
      <span></span>
    </div>
  </div>
</div>


<div class="navlink-container">
      <span>Hello, {{currentUser()?.username}}!</span>
  <div id="pun-navlinks" class="section">
  </div>
</div>
<div id="header-widget-panel"></div>
  <div id="pun-ulinks" class="section"></div>

<div id="pun-status" class="section">
  <div class="container">
    @if (authService.isAuthenticated()) {
      
    }
  </div>
</div>
