@if(episode !== null) {
<div class="episode-header">
  <div class="episode-info">
    <h2>{{ episode.name }}</h2>

    <div class="episode-characters">
      <h3>Participants</h3>
      <div class="character-list">
        @for (char of episode.characters; track char.id) {
          <div class="character-item">
            {{ char.name }}
          </div>
        }
      </div>
    </div>

    @if (customFields.length > 0) {
      <div class="episode-custom-fields">
        <ul>
          @for(field of customFields; track field.fieldMachineName; let j = $index) {
            <li class="ep-fld{{ j }}">
              @switch (field.type) {
                @case('short_text') {
                  <app-short-text-field-display [fieldName]="field.fieldName" [fieldValue]="field.fieldValue" ></app-short-text-field-display>
                }
                @case('long_text') {
                  <app-long-text-field-display
                    [fieldMachineName]="field.fieldMachineName"
                    [showFieldName]="field.showFieldName"
                    [fieldName]="field.fieldName"
                    [fieldValue]="field.fieldValue" ></app-long-text-field-display>
                }
              }
            </li>
          }
        </ul>
      </div>
    }
  </div>
</div>
}
