@if(episode != null) {
<div class="episode-header">
  <div class="episode-info">
    <h2>{{ episode.name }}</h2>

    <div class="episode-characters">
      <h3>Participants</h3>
      <div class="character-list">
        @for (char of episode.characters; track char.id) {
          <div class="character-item">
            <img [src]="char.avatar" [alt]="char.name" [title]="char.name">
            <a routerLink="/character/{{ char.id }}" class="character-link">{{ char.name }}</a>
          </div>
        }
      </div>
    </div>

    @if (customFields.length > 0) {
      <div class="episode-custom-fields">
        <ul>
          @for(field of customFields; track field.fieldMachineName) {
            <li class="ep-fld">
              @switch (field.type) {
                @case('short_text') {
                  <app-short-text-field-display [fieldName]="field.fieldName" [fieldValue]="field.fieldValue"></app-short-text-field-display>
                }
                @case('long_text') {
                  <app-long-text-field-display [fieldName]="field.fieldName" [fieldValue]="field.fieldValue"></app-long-text-field-display>
                }
                @case('number') {
                  <app-number-field-display [fieldName]="field.fieldName" [fieldValue]="field.fieldValue"></app-number-field-display>
                }
              }
            </li>
          }
        </ul>
      </div>
    }
  </div>
</div>
}
