#form-buttons td {
  width: 23px; /* Standard Rusff button width */
  height: 22px; /* Standard Rusff button height */
  cursor: pointer;
  display: table-cell;
}

/* Ensure the background images from the external CSS still show up */
#form-buttons td {
  background-repeat: no-repeat;
  background-position: center;
}
