<div id="pun-main" class="main character-view">
  <div class="main-header">
    <h1><span>Профиль персонажа: {{ char.name }}</span></h1>
  </div>

  <div class="category">
    <div class="maintitle">
      <p class="conl">Личное дело №{{ char.id }}</p>
      @if (isOwner) {
        <p class="conr"><a [routerLink]="['/edit-character', char.id]">Редактировать</a></p>
      }
      <div class="clearer"></div>
    </div>

    <div class="main-content char-sheet-wrapper">
      <div class="main-item">

        <div class="char-sheet-layout">
          <div class="char-portrait">
            <div class="portrait-frame">
              <img [src]="char.image" [alt]="char.name">
            </div>
            <div class="char-meta-sidebar">
              <p><strong>Игрок:</strong> <a href="#">{{ char.user.username }}</a></p>
              <p><strong>Дата создания:</strong> {{ char.createdAt }}</p>
              <button class="button pm-button"><span>Написать игроку</span></button>
            </div>
          </div>

          <div class="char-data">
            <h2 class="char-name-title">{{ char.name }}</h2>

            @if (char.group) {
              <div class="char-group-path">
                <span class="group-label">Фракция:</span>
                <span class="group-item main-group">{{ char.group }}</span>

                @if (char.subgroup) {
                  <span class="group-separator">»</span>
                  <span class="group-item">{{ char.subgroup }}</span>
                }

                @if (char.subsubgroup) {
                  <span class="group-separator">»</span>
                  <span class="group-item">{{ char.subsubgroup }}</span>
                }
              </div>
            }

            <div class="char-biography">
              <h3>Информация</h3>
              @for(field of char.customFields; track field.fieldMachineName) {
              <div class="field">
                @switch (field.type) {
                  @case('short_text') {
                    <app-short-text-field-display [fieldName]="field.fieldName" [fieldValue]="field.fieldValue" ></app-short-text-field-display>
                  }
                  @case('long_text') {
                    <app-long-text-field-display
                      [fieldMachineName]="field.fieldMachineName"
                      [showFieldName]="field.showFieldName"
                      [fieldName]="field.fieldName"
                      [fieldValue]="field.fieldValue" ></app-long-text-field-display>
                  }
                }
              </div>
              }
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="category">
    <div class="maintitle">Последние игры с участием {{ char.name }}</div>
    <div class="main-content">
      <table cellspacing="0" class="char-activity-table">
        <thead>
        <tr>
          <th class="tcl">Тема</th>
          <th class="tc2">Дата</th>
        </tr>
        </thead>
        <tbody>
          @for (topic of recentTopics; track topic.id) {
            <tr>
              <td class="tcl"><a href="#">{{ topic.name }}</a></td>
              <td class="tc2">{{ topic.date_last_post }}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
