<div id="pun" [style.display]="noWrapper() ? 'contents' : ''">
  <div [id]="pageId" class="punbb" [style.display]="noWrapper() ? 'contents' : ''">
    @if (!noWrapper()) {
      <app-header></app-header>
    }
<router-outlet />
    @if (!noWrapper()) {
      <div id="footer-widget-panel" appRouterLinks [innerHTML]="footerPanelHtml()"></div>
      <div id="pun-footer" class="section" app-footer></div>
    }
  </div>
</div>
<app-toast></app-toast>
@if (!noWrapper()) {
  <app-scroll-nav></app-scroll-nav>
}
