<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" href="https://viperstest.rusff.me/style/Classic_DarkGreen/Classic_DarkGreen.css">
  <link rel="stylesheet" type="text/css" href="https://viperstest.rusff.me/style/Classic_DarkGreen/Classic_DarkGreen_cs.css">
</head>
<body>

<div id="html-top"></div>
<div id="pun">
  <div [id]="pageId" class="punbb">
    <div id="pun-title" class="section">
      <div class="container">
        <div class="title-site">
          <h1><a href="/">Vipers Test</a></h1>
          <p><span></span></p>
        </div>
      </div>
    </div>

    <div id="pun-navlinks" class="section" app-navlinks></div>

    <div id="pun-status" class="section">
      <div class="container">
        <p class="conl"><span>Привет, Гость!</span></p>
        <p class="conr"><span>Дата: 2025-12-30 18:55:04</span></p>
      </div>
    </div>
<router-outlet />

  <div id="pun-footer" class="section" app-footer></div>
</div>
<div id="html-bottom"></div>
</div>

</body>
</html>
