<div id="pun-main" class="main">
  <div class="main-header">
    <h1><span>Тестовый форум</span></h1>
    <p class="modlist"><span>Модераторы: <strong>Admin</strong></span></p>
  </div>

  <div id="vf" class="category">
    <div class="maintitle">
      <div class="conr">
        <p class="pagelink"><span>Страницы: <strong>1</strong></span></p>
      </div>
      <div class="clearer"></div>
    </div>

    <div class="main-content">
      <div class="main-item">
        <div class="buttons">
          <p class="conl"><a href="/post.php?fid=2"><span>Новая тема</span></a></p>
          <div class="clearer"></div>
        </div>

        <table cellspacing="0">
          <thead>
          <tr>
            <th class="tcl" scope="col">Тема</th>
            <th class="tc2" scope="col">Ответов</th>
            <th class="tc3" scope="col">Просмотров</th>
            <th class="tcr" scope="col">Последнее сообщение</th>
          </tr>
          </thead>
          <tbody>
         @for(topic of topicService.topicList(); track topic.id; let isEven = $even) {
           <tr [class.altstyle]="isEven">
            <td class="tcl">
              <div class="intd">
                <div class="icon"><div class="nosize">1</div></div>
                <div class="tclcon">
                  <h3><a routerLink="/viewtopic/{{topic.id}}">{{topic.name}}</a></h3>
                  <span class="byuser">от <a href="/profile.php?id=2">Admin</a></span>
                </div>
              </div>
            </td>
            <td class="tc2">0</td>
            <td class="tc3">12</td>
            <td class="tcr">
              <a routerLink="/viewtopic/5">2025-12-30 14:20:05</a>
              <span class="byuser">от Admin</span>
            </td>
          </tr>
         }
          </tbody>
        </table>

        <div class="buttons">
          <p class="conl"><a href="/post.php?fid=2"><span>Новая тема</span></a></p>
          <p class="conr"><span>Страницы: <strong>1</strong></span></p>
          <div class="clearer"></div>
        </div>
      </div>
    </div>
  </div>

  <div id="pun-info" class="main-item">
    <div class="main-content">
      <p class="conl"><span><a href="/extern.php?action=feed&amp;fid=2&amp;type=rss">RSS-лента этого форума</a></span></p>
      <div class="clearer"></div>
    </div>
  </div>

  <div class="main-footer"></div>
</div>
