
    <fieldset>
      <legend><span i18n="@@postform.writeMessage">Write your message and click "Send"</span></legend>
      <div class="fs-box hashelp">

        <app-bb-toolbar [textarea]="messageField"></app-bb-toolbar>

        <div class="post-editor-container">
          <div class="textarea-wrapper">
            <textarea #messageField name="req_message" rows="12" (input)="onTextareaInput()" (blur)="closeMention()"></textarea>
            @if (mentionResults.length > 0) {
              <ul class="mention-dropdown">
                @for (user of mentionResults; track user.id) {
                  <li (mousedown)="selectMention(user)">{{ user.username }}</li>
                }
              </ul>
            }
          </div>
        </div>
      </div>
    </fieldset>
