<div class="modal-overlay">
  <div class="modal-content">
    <h2 i18n="@@factionCreateModal.title">Create New {{ factionLabel }}</h2>
    <form (submit)="onSubmit()">
      <div class="form-group">
        <label for="faction-name" i18n="@@factionCreateModal.fieldName">Name</label>
        <input type="text" id="faction-name" name="name" [(ngModel)]="name" required />
      </div>

      <div class="form-group">
        <label for="faction-desc" i18n="@@factionCreateModal.fieldDescription">Description</label>
        <textarea id="faction-desc" name="description" [(ngModel)]="description"></textarea>
      </div>

      <div class="buttons">
        <button type="submit" class="button" i18n="@@factionCreateModal.submit">Create</button>
        <button type="button" class="button" (click)="onCancel()" i18n="@@factionCreateModal.cancel">Cancel</button>
      </div>
    </form>
  </div>
</div>
