<div id="pun-main" class="main">
  <div class="main-header">
    <h1><span>Заголовок темы: Добро пожаловать!</span></h1>
  </div>

  <div class="linkst">
    <div class="inbox">
      <p class="pagelink conl"><span>Страницы: <strong>1</strong></span></p>
      <p class="postlink conr"><a href="/post.php?tid=8"><span>Ответить</span></a></p>
      <div class="clearer"></div>
    </div>
  </div>

  <div id="p21" class="post">
    <div class="container">
      <div class="post-header">
        <span class="conr">#1</span>
        <a href="/viewtopic.php?pid=21#p21">2025-12-30 14:20:05</a>
      </div>
      <div class="post-main">
        <div class="post-author">
          <ul>
            <li class="pa-author"><a href="/profile.php?id=2">Admin</a></li>
            <li class="pa-title">Администратор</li>
            <li class="pa-avatar"><img src="https://forum.mybb.ru/i/avatars/00/00/00/01.png" alt="Аватар" /></li>
          </ul>
        </div>
        <div class="post-body">
          <div class="post-box">
            <div class="post-content">
              <p>Текст первого сообщения. Добро пожаловать на наш новый форум!</p>
            </div>
          </div>
        </div>
        <div class="clearer"></div>
      </div>
      <div class="post-footer">
        <div class="conl">
          <p class="post-contacts"><span><a href="/profile.php?id=2">Профиль</a></span></p>
        </div>
        <div class="conr">
          <p class="post-links"><span><a href="/post.php?tid=8&amp;qid=21">Цитировать</a></span></p>
        </div>
        <div class="clearer"></div>
      </div>
    </div>
  </div>

  <div id="p22" class="post altstyle">
    <div class="container">
      <div class="post-header">
        <span class="conr">#2</span>
        <a href="/viewtopic.php?pid=22#p22">2025-12-30 14:25:10</a>
      </div>
      <div class="post-main">
        <div class="post-author">
          <ul>
            <li class="pa-author"><a href="/profile.php?id=3">User</a></li>
            <li class="pa-title">Участник</li>
          </ul>
        </div>
        <div class="post-body">
          <div class="post-box">
            <div class="post-content">
              <p>Спасибо! Рад быть здесь.</p>
            </div>
          </div>
        </div>
        <div class="clearer"></div>
      </div>
      <div class="post-footer">
        <div class="conl">
          <p class="post-contacts"><span><a href="/profile.php?id=3">Профиль</a></span></p>
        </div>
        <div class="conr">
          <p class="post-links"><span><a href="/post.php?tid=8&amp;qid=22">Цитировать</a></span></p>
        </div>
        <div class="clearer"></div>
      </div>
    </div>
  </div>

  <div class="linksb">
    <div class="inbox">
      <p class="postlink conr"><a href="/post.php?tid=8"><span>Ответить</span></a></p>
      <p class="pagelink conl"><span>Страницы: <strong>1</strong></span></p>
      <div class="clearer"></div>
    </div>
  </div>

  <div class="main-footer"></div>
</div>
