<div id="pun-main" class="main">
  <div class="main-header">
    <h1><span>{{ topicService.topic().name }}</span></h1>
  </div>

  <div class="linkst">
    <div class="inbox">
      <p class="pagelink conl"><span><ng-container i18n="@@viewtopic.pages">Pages</ng-container>: <strong>1</strong></span></p>
      <p class="postlink conr"><a href="/post.php?tid=8"><span i18n="@@viewtopic.reply">Reply</span></a></p>
      <div class="clearer"></div>
    </div>
  </div>

  @for(post of topicService.topic().posts; track post.id; let i = $index; let isEven = $even) {
  <div id="{{post.id}}" class="post" [class.altstyle]="isEven">
    <h3>
      <span>
        <a class="sharelink" rel="nofollow" href="#p{{ post.id }}" onclick="return false;" title="" i18n="@@viewtopic.share">Share</a>
        <strong>{{ i + 1 }}</strong>
        <a class="permalink" rel="nofollow"
           href="https://viperstest.rusff.me/viewtopic.php?id=16#p358">{{ post.createdAt }}</a></span></h3>
    <div class="container">
      <div class="post-main">
        @if(post.useCharacterProfile && post.authorCharacterProfile !== null) {
          <div class="post-author post-character">
            <ul>
              <li class="pa-author"><a routerLink="/character/{{ post.authorCharacterProfile.id }}">{{ post.authorCharacterProfile.name }}</a></li>
              <li class="pa-avatar"><img src="{{ post.authorCharacterProfile.image }}" alt="Avatar" /></li>
              @for(field of post.authorCharacterProfile.customFields; track field.fieldMachineName; let j = $index) {
                <li class="pa-fld{{ j }}">
                  @switch (field.type) {
                    @case('short_text') {
                      <app-short-text-field-display [fieldName]="field.fieldName" [fieldValue]="field.fieldValue" ></app-short-text-field-display>
                    }
                    @case('long_text') {
                      <app-long-text-field-display
                        [fieldMachineName]="field.fieldMachineName"
                        [showFieldName]="field.showFieldName"
                        [fieldName]="field.fieldName"
                        [fieldValue]="field.fieldValue" ></app-long-text-field-display>
                    }
                  }
                </li>
              }
            </ul>
          </div>
        } @else {
          <div class="post-author">
            <ul>
              <li class="pa-author"><a href="/profile/{{ post.authorUserProfile.id }}">{{ post.authorUserProfile.userName }}</a></li>
              <li class="pa-avatar"><img src="{{ post.authorUserProfile.avatar }}" alt="Avatar" /></li>
            </ul>
          </div>
        }

        <div class="post-body">
          <div class="post-box">
            <div class="post-content">
              {{ post.message }}
            </div>
          </div>
        </div>
        <div class="clearer"></div>
      </div>
      <div class="post-footer">
        <div class="conl">
          <p class="post-contacts"><span><a href="/profile/{{ post.authorUserProfile.id }}" i18n="@@viewtopic.profile">Profile</a></span></p>
        </div>
        <div class="conr">
          <p class="post-links"><span><a href="/post.php?tid=8&amp;qid=21" i18n="@@viewtopic.quote">Quote</a></span></p>
        </div>
        <div class="clearer"></div>
      </div>
    </div>
  </div>
  }

  <div class="linksb">
    <div class="inbox">
      <p class="postlink conr"><a href="/post.php?tid=8"><span i18n="@@viewtopic.reply">Reply</span></a></p>
      <p class="pagelink conl"><span><ng-container i18n="@@viewtopic.pages">Pages</ng-container>: <strong>1</strong></span></p>
      <div class="clearer"></div>
    </div>
  </div>

  <app-post-form></app-post-form>

  <div class="main-footer"></div>
</div>
