<fieldset>
  <legend>Choose Faction</legend>

  @for (level of factionLevels(); track $index) {
    <div class="faction-field">
      <label [for]="'faction-' + $index">{{ level.label }}:</label>
      <select
        [id]="'faction-' + $index"
        [name]="'faction-level-' + $index"
        [(ngModel)]="level.selectedId"
        (ngModelChange)="onFactionChange($index)">
        <option [value]="null">Select a faction</option>
        @for (faction of level.options; track faction.id) {
          <option [value]="faction.id">{{ faction.name }}</option>
        }
      </select>
    </div>
  }
</fieldset>
