<fieldset>
  <legend>Choose Faction</legend>

  @for (level of factionLevels; track $index) {
    <div class="faction-field">
      <label [for]="'faction-' + $index">{{ level.label }}:</label>
      <select
        [id]="'faction-' + $index"
        [value]="level.selectedId ?? ''"
        (change)="onFactionChange($index, $any($event.target).value)"
        [disabled]="level.options.length === 0">
        <option value="">Select a faction</option>
        @for (faction of level.options; track faction.id) {
          <option [value]="faction.id">{{ faction.name }}</option>
        }
      </select>
    </div>
  }
</fieldset>
