<div id="pun-main" class="main">
    <div class="main-header"></div>
  @for (category of categoryService.homeCategories(); track category.id) {
    <div id="idx1" class="category">
      <div class="maintitle">
        <h2><span>{{category.name}}</span></h2>
      </div>
      <div class="main-content">
        <div class="main-item">
          <table cellspacing="0">
            <thead>
            <tr>
              <th class="tcl" scope="col">Форум</th>
              <th class="tc2" scope="col">Тем</th>
              <th class="tc3" scope="col">Сообщений</th>
              <th class="tcr" scope="col">Последнее сообщение</th>
            </tr>
            </thead>
            <tbody>
            @for (subforum of category.subforums; track subforum.id)
            {
            <tr class="rowodd">
              <td class="tcl">
                <div class="intd">
                  <div class="icon"></div>
                  <div class="tclcon">
                    <h3><a routerLink="/viewforum/{{subforum.id}}">{{subforum.name}}</a></h3>
                    <div class="forumdesc">{{subforum.description}}</div>
                  </div>
                </div>
              </td>
              <td class="tc2">0</td>
              <td class="tc3">0</td>
              <td class="tcr"><span>Нет сообщений</span></td>
            </tr>
            }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  }

    <div id="pun-statistics" class="main-item">
      <div class="maintitle">
        <h2><span>Статистика форума</span></h2>
      </div>
      <div class="main-content">
        <div class="statscon">
          <p><span>Всего тем: <strong>0</strong></span></p>
          <p><span>Всего сообщений: <strong>0</strong></span></p>
          <p><span>Зарегистрированных пользователей: <strong>1</strong></span></p>
          <p><span>Последним зарегистрировался: <strong><a href="/profile.php?id=2">Admin</a></strong></span></p>
        </div>
        <div class="statscon">
          <p><span>Всего игровых эпизодов: <strong>0</strong></span></p>
          <p><span>Всего игровых постов: <strong>0</strong></span></p>
          <p><span>Всего персонажей: <strong>1</strong></span></p>
          </div>
      </div>
    </div>
    <div class="main-footer"></div>
  </div>


